.chatMessageWrapper {
  background-color: #cdd0e2;
  border: 1px solid #545e9b;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.chatUsername {
  font-family: sans-serif;
}

.chatDate {
  font-size: 8px;
  color: gray;
}

.chatMessage {
  font-family: sans-serif;
}