.chatHeader {
  font-family: sans-serif;
}

.chatMessageWrapper {
  max-width: 500px;
  background-color: #dcdeeb;
  border: 1px solid #545e9b;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.chatUsername {
  font-family: sans-serif;
  word-wrap: break-word;
}

.chatDate {
  font-size: 8px;
  font-family: sans-serif;
  color: rgb(88, 84, 84);
}

.chatMessage {
  font-family: sans-serif;
  word-wrap: break-word;
}